{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="{{ path('panel', {'page': 'account'}) }}">{{ 'panel.page.delete_account.breadcrumb_link'|trans }}</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'panel.page.delete_account.breadcrumb_link2'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'panel.page.delete_account.title'|trans }}</h1>
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(delete_account_form) }}
                    {{ form_widget(delete_account_form.send, {'attr': {'class': 'btn btn-danger'}}) }}
                {{ form_end(delete_account_form) }}
            </div>
        </div>
    </div>
{% endblock %}
