{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="{{ path('panel', {'page': 'developer-applications'}) }}">{{ 'panel.page.dev_create_app.breadcrumb_link'|trans }}</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'panel.page.dev_create_app.breadcrumb_link2'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'panel.page.dev_create_app.title'|trans }}</h1>
        <div class="row">
            <div class="col-md-5">
                {% if current_user.developerStatus == 1 %}
                    {{ form_start(create_app_form, {'attr': {'class': 'card'}}) }}
                        <div class="card-body">
                            {{ form_errors(create_app_form) }}

                            <div class="form-group row">
                                {{ form_label(create_app_form.client_name, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-8">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="icon-prepend fa fa-user"></i></div>
                                        {{ form_widget(create_app_form.client_name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <small class="form-text text-danger">{{ form_errors(create_app_form.client_name) }}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ form_label(create_app_form.redirect_uri, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-8">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="icon-prepend fa fa-external-link"></i></div>
                                        {{ form_widget(create_app_form.redirect_uri, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <small class="form-text text-danger">{{ form_errors(create_app_form.redirect_uri) }}</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ form_label(create_app_form.scopes, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                                <div class="col-sm-8">

                                    {% for key, type in create_app_form.scopes %}
                                        <label class="custom-control custom-checkbox">
                                            {{ form_widget(type, {'attr': {'class': 'custom-control-input'}}) }}
                                            <span class="custom-control-indicator"></span>
                                            {{ form_label(type, null, {'label_attr': {'class': 'custom-control-description'}}) }}
                                        </label>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form_widget(create_app_form.send, {'attr': {'class': 'btn u-btn-blue'}}) }}
                        </div>
                    {{ form_end(create_app_form) }}
                    <br />
                    <p>
                        {{ 'panel.page.dev_show_app.dev_note'|trans }}
                        <a href="https://developer.orbitrondev.org/oauth/unauthorized.php">https://developer.orbitrondev.org/oauth/unauthorized.php</a>
                    </p>
                {% else %}
                    <div class="alert alert-danger" role="alert">{{ 'panel.page.dev_create_app.no_dev'|trans }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
