{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="#!">{{ 'panel.page.developer_register.breadcrumb_link'|trans }}</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'panel.page.developer_register.breadcrumb_link2'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'panel.page.developer_register.title'|trans }}</h1>
        {% if not app.user.developerStatus == 1 %}
            {{ form_start(developer_form) }}
                {{ form_widget(developer_form.send, {'attr': {'class': 'btn btn-success'}}) }}
            {{ form_end(developer_form) }}
        {% else %}
            <div class="alert alert-danger" role="alert">{{ 'panel.page.developer_register.already_developer'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}
