{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="{{ path('panel', {'page': 'developer-applications'}) }}">{{ 'panel.page.dev_list_apps.breadcrumb_link'|trans }}</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'panel.page.dev_list_apps.breadcrumb_link2'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'panel.page.dev_list_apps.title'|trans }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ 'panel.page.dev_list_apps.table.id'|trans }}</th>
                        <th>{{ 'panel.page.dev_list_apps.table.key'|trans }}</th>
                        <th>{{ 'panel.page.dev_list_apps.table.redirect'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if app_list|length > 0 %}
                        {% for app_data in app_list %}
                            <tr>
                                <td><a href="{{ path('panel', {'page': 'developer-show-application', 'app': app_data.clientIdentifier }) }}">{{ app_data.clientIdentifier }}</a></td>
                                <td>{{ app_data.clientSecret }}</td>
                                <td>{{ app_data.redirectUri }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <p class="mt-1"><a class="btn u-btn-blue" href="{{ path('panel', {'page': 'developer-create-application'}) }}">{{ 'panel.page.dev_list_apps.create_app'|trans }}</a></p>
        <br />
        <p>
            {{ 'panel.page.dev_show_app.dev_note'|trans }}
            <a href="https://github.com/OrbitronDev/service-account/wiki">https://github.com/OrbitronDev/service-account/wiki</a>
        </p>
    </div>
{% endblock %}
