<h1>{{ 'panel.page.dev_create_app.title'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('panel', {'page': 'developer-applications'}) }}">{{ 'panel.page.dev_create_app.breadcrumb_link'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'panel.page.dev_create_app.breadcrumb_link2'|trans }}</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-5">
        {% if current_user.developerStatus == 1 %}
            {{ form_start(create_app_form, {'attr': {'class': 'card'}}) }}
                <div class="card-body">
                    {{ form_errors(create_app_form) }}

                    <div class="form-group row">
                        {{ form_label(create_app_form.client_name, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="icon-prepend fa fa-user"></i></div>
                                {{ form_widget(create_app_form.client_name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <small class="form-text text-danger">{{ form_errors(create_app_form.client_name) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_app_form.redirect_uri, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="icon-prepend fa fa-external-link"></i></div>
                                {{ form_widget(create_app_form.redirect_uri, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <small class="form-text text-danger">{{ form_errors(create_app_form.redirect_uri) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_app_form.scopes, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">

                            {% for key, type in create_app_form.scopes %}
                                <label class="custom-control custom-checkbox">
                                    {{ form_widget(type, {'attr': {'class': 'custom-control-input'}}) }}
                                    <span class="custom-control-indicator"></span>
                                    {{ form_label(type, null, {'label_attr': {'class': 'custom-control-description'}}) }}
                                </label>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {{ form_widget(create_app_form.send, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(create_app_form) }}
            <br />
            <p>
                {{ 'panel.page.dev_show_app.dev_note'|trans }}
                <a href="https://developer.orbitrondev.org/oauth/unauthorized.php">https://developer.orbitrondev.org/oauth/unauthorized.php</a>
            </p>
        {% else %}
            <div class="alert alert-danger" role="alert">{{ 'panel.page.dev_create_app.no_dev'|trans }}</div>
        {% endif %}
    </div>
</div>
