{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">
            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'Payment methods'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'Payment methods'|trans }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'ID'|trans }}</th>
                    <th>{{ 'Card'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if payment_methods|length > 0 %}
                    {% for method in payment_methods %}
                        <tr>
                            <td>{{ method.id }}</td>
                            {% if method.type is constant('App\\Entity\\UserPaymentMethods::PAYMENT_MASTERCARD') %}
                                <td>{{ 'Mastercard' }} - XXXX-XXXX-XXXX-{{ method.data.number|slice(15) }} - {{ method.data.month }}.{{ method.data.year }}</td>
                            {% elseif method.type is constant('App\\Entity\\UserPaymentMethods::PAYMENT_VISA') %}
                                <td>{{ 'Visa' }} - XXXX-XXXX-XXXX-{{ method.data.number|slice(15) }} - {{ method.data.month }}.{{ method.data.year }}</td>
                            {% elseif method.type is constant('App\\Entity\\UserPaymentMethods::PAYMENT_PAYPAL') %}
                                <td>{{ 'PayPal' }} - {{ method.data.email }}</td>
                            {% endif %}
                            <td><a href="{{ path('panel', {'page': 'remove-payment-method', 'item': method.id }) }}">{{ 'Remove'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <p class="mt-1"><a class="btn u-btn-blue" href="{{ path('panel', {'page': 'add-payment-method'}) }}">{{ 'Create payment method'|trans }}</a></p>
    </div>
{% endblock %}
