{% extends 'layout_admin.html.twig' %}

{% block breadcrumb %}
    <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
        <ul class="u-list-inline g-color-gray-dark-v6">

            <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="{{ path('panel', {'page': 'account'}) }}">{{ 'panel.page.plans.breadcrumb_link'|trans }}</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
            </li>

            <li class="list-inline-item">
                <span class="g-valign-middle">{{ 'panel.page.plans.breadcrumb_link2'|trans }}</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="g-pa-20">
        <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-40">{{ 'panel.page.plans.title'|trans }}</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">{{ 'panel.page.plans.block1.title'|trans }}</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="lead">
                            <strong>{{ 'panel.page.plans.block1.price'|trans }}</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info1'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info2'|trans }}
                            <span class="fa fa-times pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info3'|trans }}
                            <span class="fa fa-times pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info4'|trans }}
                            <span class="fa fa-times pull-right"></span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        {% if app.user.subscription.subscription.id == 1 %}
                            <p class="btn btn-lg btn-block u-btn-blue mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                        {% else %}
                            <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-success">
                    <div class="card-header">
                        <h4 class="text-center">{{ 'panel.page.plans.block2.title'|trans }}</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="lead">
                            <strong>{{ 'panel.page.plans.block2.price'|trans }}</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info1'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info2'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info3'|trans }}
                            <span class="fa fa-times pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info4'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        {% if app.user.subscription.subscription.id == 2 %}
                            <p class="btn btn-lg btn-block u-btn-blue mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                        {% else %}
                            <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-primary">
                    <div class="card-header">
                        <h4 class="text-center">{{ 'panel.page.plans.block3.title'|trans }}</h4>
                    </div><!-- /.panel-heading -->
                    <div class="card-body text-center">
                        <p class="lead">
                            <strong>{{ 'panel.page.plans.block3.price'|trans }}</strong>
                        </p>
                    </div><!-- /.panel-body -->
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info1'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info2'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info3'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            {{ 'panel.page.plans.block_info.info4'|trans }}
                            <span class="fa fa-check pull-right"></span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        {% if app.user.subscription.subscription.id == 3 %}
                            <p class="btn btn-lg btn-block u-btn-blue mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                        {% else %}
                            <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
