<h1>{{ 'panel.page.plans.title'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('panel', {'page': 'account'}) }}">{{ 'panel.page.plans.breadcrumb_link'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'panel.page.plans.breadcrumb_link2'|trans }}</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">{{ 'panel.page.plans.block1.title'|trans }}</h4>
            </div>
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ 'panel.page.plans.block1.price'|trans }}</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info1'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info2'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info3'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info4'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 1 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-success">
            <div class="card-header">
                <h4 class="text-center">{{ 'panel.page.plans.block2.title'|trans }}</h4>
            </div>
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ 'panel.page.plans.block2.price'|trans }}</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info1'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info2'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info3'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info4'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 2 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-header">
                <h4 class="text-center">{{ 'panel.page.plans.block3.title'|trans }}</h4>
            </div><!-- /.panel-heading -->
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ 'panel.page.plans.block3.price'|trans }}</strong>
                </p>
            </div><!-- /.panel-body -->
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info1'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info2'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info3'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'panel.page.plans.block_info.info4'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 3 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'panel.page.plans.your_plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'panel.page.plans.set_new_plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
