{% extends 'layout_clean.html.twig' %}

{% block title %}{{ 'login.title'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2/css/simple-line-icons.min.css" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background: url({{ asset('img/background.jpg') }}) fixed 50% 50%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Login -->
    <section class="container g-py-30">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5">
                <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30 g-bg-white">
                    <header class="text-center mb-4">
                        <h2 class="h2 g-color-black g-font-weight-600">{{ 'login.title'|trans }}</h2>
                    </header>

                    <!-- Form -->
                    {% if error %}
                        <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                            <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="{{ 'login.message_close'|trans }}">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="media">
                                <span class="d-flex g-mr-10 g-mt-5">
                                    <i class="icon-ban g-font-size-25"></i>
                                </span>
                                <span class="media-body align-self-center">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </span>
                            </div>
                        </div>
                    {% endif %}

                    <form name="login" method="post" class="g-py-15">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <input type="hidden" name="_target_path" value="{{ redirect_url }}" />
                        <div class="form-group {% if error %}u-has-error-v1{% endif %} mb-4">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" for="login_email">{{ 'login.form.email.label'|trans }}</label>
                            <input type="email" id="login_email" name="_username" required="required" placeholder="{{ 'login.form.email.placeholder'|trans }}" tabindex=1 class="form-control g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-20 g-px-20" />
                        </div>

                        <div class="form-group {% if error %}u-has-error-v1{% endif %} mb-3">
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" for="login_password">{{ 'login.form.password.label'|trans }}</label>
                                </div>
                                <div class="col align-self-center text-right">
                                    <a class="d-inline-block g-font-size-12 mb-2" href="{{ path('forgot') }}">{{ 'login.forgot'|trans }}</a>
                                </div>
                            </div>
                            <input type="password" id="login_password" name="_password" required="required" placeholder="{{ 'login.form.password.placeholder'|trans }}" tabindex=2 class="form-control g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-20 g-px-20" />
                        </div>
                        <div class="g-mb-35">
                            <div class="row justify-content-between">
                                <div class="col-8 align-self-center">
                                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                                        <input type="checkbox" id="login_remember" name="_remember_me" tabindex=3 class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" />
                                        <span class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                            <i class="fa" data-check-icon="&#xf00c"></i>
                                        </span>
                                        {{ 'login.form.remember'|trans }}
                                    </label>
                                </div>
                                <div class="col-4 align-self-center text-right">
                                    <button type="submit" id="login_send" name="login" tabindex=4 class="btn btn-md u-btn-primary rounded g-py-13 g-px-25">{{ 'login.form.login'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->

                    <footer class="text-center">
                        <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                            {{ 'login.footer.text'|trans }}
                            <a class="g-font-weight-600" href="{{ path('register') }}">{{ 'login.footer.register'|trans }}</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock %}
